@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    
    color: black;
}
body{
    background-color: #F9F5EC;
}
/* !-----Navigation Sections-----! */
.navigations{
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
    padding: 30px 0;
}
.logo-img{
    padding-left: 9rem;
}
.navigations a{
    color: black;
    text-decoration: none;

    font-size: 18px;
}
/* !-----Menu Bar-----! */
.menu{
    display: none;
    /* color: black;
    margin-right: 2rem;
    font-size: 30px;
     */
}
/* !-----Main Section-----! */
.sections{
    display: flex;
    justify-content: space-between;
}
/* !-----Left section-----! */
.leftmain{
    padding: 14% 0 0 10%;
}
h1{
    font-size: 70px;
    font-weight: 600;  
}
.leftmain p{
    padding: 20px 0 20px 0;
}
button{
    margin-top: 1rem;
    font-size: 15px;
    background-color: green;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: rgb(3, 142, 3);
}
/* !-----Right Section-----! */
.rightmain{
    padding-right: 15%;
}
/* !-----Footer Section-----! */
footer{
    display: flex;
    justify-content: center;
    background-color:rgb(139 175 160);
    margin-top: 20px;
}
.name, a{
    padding: 0.7rem 0;
    font-size: 20px;
}
a{
    margin-left: 5px;

}
/* !-----Responsive Section-----! */
@media (max-width:480px) {
     .navigations .items{
        display: none;
     }
     .logo-img img{
        margin-left: -7rem;
     }
     .menu{
        display: block;
        color: black;
        margin-right: 2rem;
        font-size: 31px;
        
     } 
     .navigations{
        display: flex;
        justify-content: space-between;
     }
     h1{
        margin-top: -2rem;
        font-size: 50px;
     }
     button{
        padding: 12px 15px;
    }
     .sections{
       flex-wrap: wrap;
    }
    .rightmain{
        margin-top: 1rem;
        margin-left: 2.5rem;
    }
    .up-img img{
        width: 47%;
        height: 70%;
    }
    .down-img img{
        width: 110%;
        height: 70%;
    }
    .leftmain p{
       font-size: 16px;
    }
    .name, a{
        padding: 0.3rem 0;
        font-size: 20px;
    }
}
